@model Tengella.Survey.WebApp.Models.SurveyViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<h4>SurveyObject</h4>

<form asp-action="Create" method="post" id="formQuestions">
    <input hidden asp-for="SurveyObjectId" />
<div class="row" id="SurveyContainer">
    <div class="col-md-4">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="SurveyTitle" class="control-label"></label>
            <input asp-for="SurveyTitle" class="form-control" />
            <span asp-validation-for="SurveyTitle" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SurveyDescription" class="control-label"></label>
            <input asp-for="SurveyDescription" class="form-control" />
            <span asp-validation-for="SurveyDescription" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SurveyType" class="control-label"></label>
            <input asp-for="SurveyType" class="form-control" />
            <span asp-validation-for="SurveyType" class="text-danger"></span>
        </div>

        <h4>Questions</h4>
            
                <div class="form-group" id="questionsContainer">
                    @Html.EditorFor(model => model.SurveyQuestions)
                </div>
                <button id="addQuestionBtn">Add Question </button>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
            
</div>
</div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                
                // Use event delegation for dynamically added button
                $(document).on('click', '#addQuestionBtn', function (e) {
                    e.preventDefault(); // Prevent default button behavior
                    $.ajax({
                        url: '@Url.Action("AddQuestion", "SurveyObjects")',
                        type: 'POST',
                        data: $('#formQuestions').serialize(),
                        success: function (result) {
                            $('#questionsContainer').html(result);
                            
                        },
                        error: function () {
                            alert("Error adding question");
                        }
                    });
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {

                // Use event delegation for dynamically added button
                $(document).on('click', '[id^=addChoiceBtn-]', function (e) {
                    e.preventDefault(); // Prevent default button behavior

                    var questionPosition = $(this).data('question-position');
                    var formPosition = '#form-' + questionPosition;
                    var choicesContainerPosition = '#choicesContainer-' + questionPosition;
                    $.ajax({
                        url: '@Url.Action("AddChoice", "SurveyObjects")',
                        type: 'POST',
                        data: $(formPosition).serialize(),
                        success: function (result) {
                            $(choicesContainerPosition).html(result);

                        },
                        error: function () {
                            alert("Error adding question");
                        }
                    });
                });
            });
        </script>
        
    }
}

